* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: #659DBD;
    color: #fff;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.container {
width: 80%;
margin: 0 auto;
}

h1, h2{
  text-align: center;
}

h2, h3{
    color: #DAAD86;
    margin: 20px 0 30px 0;
}

p{
    margin: 20px 0px ;
}

ul, ol {
    margin-left: 1em;
    text-align: left;
} 

a{
   color:#DAAD86;
}

a:hover {
    color: #8D8741;
    transition: 0.3s;
    text-decoration: none;
}

.image {
    width: 100%;
    height: auto;
    margin-top: 30px;
}
